# Default ignored files
/shelf/
/workspace.xml
../target
../.idea
../proyectofinalbd.iml
# Datasource local storage ignored files
/../../../../:\Espacios de trabajo\proyectofinalbd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
